.outer{
    width:100%;
    height:550px;
    background-color:#bbbbbb;
  }
  .inner1{
    margin-top:2%;
    margin-left:2%;
    width:45%;
    height:500px;
    float:left;
    background-color: #eeeeee;
  }
  .inner2{
    margin-top:2%;
    margin-left:5%;
    width:45%;
    height:500px;
    float:left;
    background-color:#eeeeee;
  }
  .box1{
    width:50%;
    height:250px;
    float:left;
    background-color:lightgoldenrodyellow;
  }
  .box2{
    width:50%;
    height:250px;
    float:left;
    background-color:lightcyan;
  }
  .box3{
    width:50%;
    height:250px;
    float:left;
    background-color:moccasin;
  }
  .box4{
    width:50%;
    height:250px;
    float:left;
    background-color:darkgray;
  }
  h3{
      padding:5px;
      margin-left:1%;
  }
  p{
    padding:5px;
    margin-left:1%;
    font-size:13px;
    color:lightcoral;
  }
  h5{
    padding:5px;
    margin-left:1%;
    
  }